<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
my_string = "nihith nath"

In [2]:

my_string.upper()

'NIHITH NATH'

In [3]:
my_string.find('h')

2

In [4]:
my_string.replace('n','b')

'bihith bath'

<h3>Fibonacci series</h3>

In [33]:


def fibo(n):
        if n==0 or n<0:
            print("sorry pls enter a positive integer to print the series !")
        elif n==1:
                a=0
                print(a)
        else:
            a=0
            b=1
            print(a)
            print(b)
            while(n-2>0):
                    c=a+b
                    print(c)
                    a=b
                    b=c
                    n=n-1

fibo(-5)

sorry pls enter a positive integer to print the series !

<h3>even odd</h3>

In [34]:


def evenodd(n):
    if(n%2==0 and n!=0):
        print(n , "is even")
    elif(n==0):
        print(n , "is neither even nor odd")
    else:
        print(n,"is odd")
        
evenodd(6)  
        
evenodd(27)  
evenodd(0)

6 is even
27 is odd
0 is neither even nor odd

<h3>prime or not</h3>

In [47]:


def prime(n):
    if(n<=1):
        print(n ,"is  neither prime nor composite")
    else:
        for i in range(2,n):
            if(n%i==0):
                flag =0
                break
            else:  
                flag =1

    if flag ==0:
           print(n,"is composite number")  
    else: 
            print(n, "is a prime number")  
            
   
           
        
prime(5)
prime(24)
prime(78)

5 is a prime number
24 is composite number
78 is composite number

<h3>reverse a string</h3>

In [48]:
string ="i love python"

In [58]:
str_rev = string[ ::-1]
str_rev

'nohtyp evol i'

<h3>writing a program to find max value of integer in a list </h3>

In [63]:
b_list =[1,4,5,66,495,323,12]
def max_num(list):
    if (len(list)>0): 
        max=list[0]
        for i in list:
            if i>max:
                max = i
    return print("maximum num is ",max)

In [64]:
max_num(b_list)

maximum num is  495

<h3>Write a program that takes a string and returns a new string with all the vowels removed.</h3>

In [65]:
str = "Nihith Nath"
char_list = list(str)
print(char_list)
vowels=['a','e','i','o','u']
def remove_vowel(alist):
    
    for char in alist:
        if char in vowels:
            alist.remove(char)
            
    
    return print(alist)
    

remove_vowel(char_list)

['N', 'i', 'h', 'i', 't', 'h', ' ', 'N', 'a', 't', 'h']
['N', 'h', 't', 'h', ' ', 'N', 't', 'h']

<h3>Write a program that takes a list of integers and returns the second largest number in the list.</h3>

In [66]:
a_list = [1,2,3,4,5]
b_list=[5,8,2,77,34]
length = len(b_list)
b_list.sort()
b_list[length-2]

34

<h3>now without using inbuilt functions</h3>

approach is iterating through the list twice and finding max num and the second max num in second iteration

In [67]:
b_list

[2, 5, 8, 34, 77]

In [68]:
def second_max_num(list):
    if (len(list)>0): 
        max=list[0]
        for i in list:
            if i>max:
                max = i

        sec_max = list[0]

        for i in list:
            if (i<max and i>sec_max):
                sec_max = i
        return print("second largest number is ",sec_max)

    else:
        print("list size is 0")

In [69]:
second_max_num(b_list)

second largest number is  34

In [ ]:
c_list = [-5, -2, -9, -1, -4, -6, -3]
second_max_num(c_list)

In [ ]:
d_list=[]
second_max_num(d_list)

<h3>Write a function to check whether a given string is a palindrome.<h3>

In [70]:
my_string = ',"Hello. World!",'

def remove_puntuations(str):
    str = str.replace(',', '').replace('"', '').replace('.', '').replace('!','').replace(' ','')
    return str
remove_puntuations(my_string)

'HelloWorld'

In [71]:
palindrome ="A man, a plan, a canal, Panama!"

def chk_plndrm(str):
    chk_str = remove_puntuations(str).lower()
    length= len(chk_str)
    
    print(length)
    a=0
    b=length-1
    
    for i in range(0,length//2):
        if(chk_str[a]!=chk_str[b]):
            return print("is not a palindrome")
            
        else:
            a=a+1
            b=b-1
    print(str, " is a palindrome")
    
    return chk_str

In [72]:
chk_plndrm(palindrome)

21
A man, a plan, a canal, Panama!  is a palindrome

'amanaplanacanalpanama'

In [73]:
vroom='RaceCar'
chk_plndrm(vroom)

7
RaceCar  is a palindrome

'racecar'


<h3>  Write a function to find the factorial of a given number.</h3>

In [74]:
a=7

def factorial(num):
    fact =1
    for i in range(num,1,-1):
        fact = fact*i
    print("factorial of", num, 'is', fact)

In [75]:
factorial(a)
factorial(5)
factorial(20)

factorial of 7 is 5040
factorial of 5 is 120
factorial of 20 is 2432902008176640000

<h3>Write a function to reverse a given List.  </h3>

In [76]:
def rev_list(list):
    length= len(list)
    start = 0
    end = length-1
    
    while(start<end):
        temp = list[end]
        list[end]=list[start]
        list[start]= temp
        start+=1
        end-=1
    return  list

In [77]:
ant= [1,4,6]
rev_list(ant)
lst2 = ["apple", "banana", "cherry"]
print(rev_list(lst2)) # ["cherry", "banana", "apple"]

['cherry', 'banana', 'apple']

<h3>Write a function to reverse a given String.  </h3>

In [78]:

def rev_str(str):
    length =len(str)
    revstr=""
    for char in range(length-1,-1,-1):
        revstr= revstr+str[char]
    return revstr

In [79]:
rev_str("i like writing code in java, but i loved coding in python")

'nohtyp ni gnidoc devol i tub ,avaj ni edoc gnitirw ekil i'

<h3>Write a function to remove duplicates from a list.  </h3>

In [84]:
list1 = [1,'nihith','nath',2,1,5,4,4,3,7,'python','love','python',6]

aset= set(list1)
#aset
list1 = list(aset)
print(list1)

[1, 2, 3, 4, 5, 'love', 7, 6, 'nihith', 'python', 'nath']

In [ ]:

def remove_duplicates(lst):
    new_lst=[]
    for elem in lst:
        if elem not in new_lst:
            new_lst.append(elem)
    
    return new_lst

In [ ]:
remove_duplicates(list1)

<h3>Write a program to find the sum of all elements in a given list  </h3>

In [86]:
def sum_list(lst):
    sum=0
    for elem in lst:
        sum+=elem
    return sum

In [88]:
a_list=[1,3,4,5,6,8]
sum_list(a_list)

27


<h3>Write a program to find the average of all elements in a given list. </h3>

In [ ]:
def avg_list(lst):
    sum=0
    for elem in lst:
        sum+=elem
    avg= sum/len(lst)
    return avg

In [ ]:
avg_list(a_list)


<h3>Write a program to find the median of all elements in a given list. </h3>

In [ ]:
def median_list(lst):
    lst.sort()
    l=len(lst)
    median =0
    if l>0:
        if l%2!=0:
            median=lst[l//2]
        elif(l%2==0):
            mid=l//2
            median = (lst[mid]+lst[mid-1])/2
    
    return median

In [ ]:
a_list=[1,3,4,5,6,8,9,7,44,3]
a_list.sort()
a_list

In [ ]:
median_list(a_list)
#f =[1, 1, 8, 8, 999, 999]
median_list(f)


<h3>Write a program to find the mode of all elements in a given list </h3>

In [ ]:
def mode_list(lst):
    l = len(lst)
    dict= {key: lst.count(key) for key in lst}
    max_val= max(dict.values())
    for key in dict:
        if dict[key]==max_val:
             print(key, "is mode for list")

In [22]:
p=[1,2,3,4]
mode_list(p)

1 is mode for list
2 is mode for list
3 is mode for list
4 is mode for list

In [23]:
q=[1,4,2,3,2,2,5,7]
mode_list(q)

2 is mode for list